body
{
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  position: sticky;

}

h1
{
    text-align: center;
    color: lightcoral; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images
{
   height: 500px;
   width: 300px;
   margin-left: 30px;
   margin-bottom: 30px;
   padding-right: 30px;
 
}
p
{
  font-size: 20px ;
  font-family:'Times New Roman', Times, serif;
  font-display: center;
}