body
{
  background-color: lightblue;
}
#OceanBackground
{
    width: auto;
    height: auto;
}

h1
{
    text-align: center;
    color: lightcoral; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#BibleVerse
{
   height: 300px;
   width: 100px;
   padding-left: 20px;
   padding-right: 30px
   
}